.mainNavBar {
  margin-bottom: 3rem;
}

.text-on-image {
  position: absolute;
  /* right: 10%; */
  left: 5%;
  /* bottom: 15%; */
}

#landing-page {
  background-image: url("./images/bg-pic3.PNG");
  background-repeat: no-repeat;
  width: 100%;
  height: auto;
  min-height: 100%;
  min-width: 1024px;
  top: 0;
  color: white;
  left: 0;
  background-size:cover;
}

@media (max-width: 767px) {
  #landing-page {
    /* background-size:contain; */
    background-image: none;
    position: relative;
    /* width: 100%; */
    /* height: auto; */
    width: auto;
    /* background-color:  #e4b45a; */
    /* background-color:  #3a2e17; */
    background-color:  #8f7138;
  }
}

#about-page{
  background-image: url("./images/about-bg.PNG");
  background-repeat: no-repeat;
  width: 100%;
  height: auto;
  min-height: 100%;
  min-width: 1024px;
  top: 0;
  color: white;
  left: 0;
  background-size:cover;
}

@media (max-width: 767px) {
  #about-page{
    background-image: none;
    position: relative;
    width: auto;
    height: 500vh;
    overflow-y: scroll;
    background-color:  #8f7138;
  }
}